<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FUN-BOOT</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" th:href="@{/fun/favicon.ico}" type="image/x-icon"/>

</head>

<body class=" ">






<script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>

</body>
</html>