<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" th:href="@{/fun/favicon.ico}" type="image/x-icon"/>

    <!-- 撑开测试 -->
    <style type="text/css">
        .test {
            height: 500px;
            width: 100%;
            color: white;
            background-color: #1b6d85;
        }
    </style>
</head>


<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="test">

    </div>
</div>

</body>
</html>