<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.project.admin.system.mapper.DictTypeMapper">

    <resultMap  id="DictTypeResult"     type="DictType"          >
        <result column="dict_id"        property="dictId"       />
        <result column="dict_name"      property="dictName"     />
        <result column="dict_type"      property="dictType"     />
        <result column="status"         property="status"       />
        <result column="create_by"      property="createBy"     />
        <result column="create_time"    property="createTime"   />
        <result column="update_by"      property="updateBy"     />
        <result column="update_time"    property="updateTime"   />
        <result column="remark"         property="remark"       />
    </resultMap>

    <sql id="DictTypeResultVo">
        select dict_id,dict_name,dict_type,status,create_by,create_time,update_by,update_time,remark from sys_dict_type
    </sql>

    <select id="selectDictTypeById" parameterType="Long" resultMap="DictTypeResult">
        <include refid="DictTypeResultVo"/>
        WHERE dict_id = #{dictId}
    </select>

    <select id="selectDictTypeList" parameterType="DictType" resultMap="DictTypeResult">
        <include refid="DictTypeResultVo"/>
        <where>
            <if test="dictName != null and dictName != ''">
                AND dict_name like concat('%', #{dictName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="dictType != null and dictType != ''">
                AND dict_type like concat('%', #{dictType}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and create_time &gt;= UNIX_TIMESTAMP(#{params.beginTime})*1000
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and create_time &lt;= UNIX_TIMESTAMP(#{params.endTime})*1000
            </if>
        </where>
    </select>

    <insert id="insertDictType" parameterType="DictType" useGeneratedKeys="true">
        INSERT INTO sys_dict_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictId != null  and dictId != ''">dict_id,</if>
            <if test="dictName != null  and dictName != ''">dict_name,</if>
            <if test="dictType != null  and dictType != ''">dict_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="remark != null  and remark != ''">remark</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictId != null  and dictId != ''">#{dictId},</if>
            <if test="dictName != null  and dictName != ''">#{dictName},</if>
            <if test="dictType != null  and dictType != ''">#{dictType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="remark != null  and remark != ''">#{remark}</if>
        </trim>
    </insert>

    <update id="updateDictType" parameterType="DictType">
        UPDATE sys_dict_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictId != null  and dictId != ''">dict_id = #{dictId},</if>
            <if test="dictName != null  and dictName != ''">dict_name = #{dictName},</if>
            <if test="dictType != null  and dictType != ''">dict_type = #{dictType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        WHERE dict_id = #{dictId}
    </update>

    <delete id="deleteDictTypeById" parameterType="Long">
        DELETE FROM sys_dict_type
        WHERE  dict_id = #{dictId}
    </delete>

    <delete id="deleteDictTypeByIds" parameterType="String">
        delete from sys_dict_type where dict_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectDictTypeAll" resultMap="DictTypeResult">
        <include refid="DictTypeResultVo"/>
    </select>

    <select id="checkDictTypeUnique" parameterType="String" resultMap="DictTypeResult">
        <include refid="DictTypeResultVo"/>
        where dict_type = #{dictType}
    </select>

    <select id="selectDictTypeByType" parameterType="String" resultMap="DictTypeResult">
        <include refid="DictTypeResultVo"/>
        where dict_type = #{dictType}
    </select>

</mapper>
