<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>FUN-BOOT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" th:href="@{/fun/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/fun/css/fun.css}" media="all">
</head>
<body>

<div id="fun"></div>

<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];
    var currentUser = [[${user}]];
    currentUser.roleSet = [[${roles}]];
    currentUser.permissionSet = [[${permissions}]];

    layui.config({
        base: './fun/',
        debug: true
    }).extend({

    }).use(['index']);
</script>
</body>
</html>