package ${packageName}.${businessName}.entity;

import lombok.ToString;
import lombok.Getter;
import lombok.Setter;
import com.fun.framework.annotation.Excel;
#if($table.crud)
import com.fun.framework.web.entity.BaseEntity;
#elseif($table.tree)
import com.fun.framework.web.entity.TreeEntity;
#end
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@Getter
@Setter
@ToString
public class ${ClassName} extends ${Entity} {
private static final long serialVersionUID=1L;

    #foreach ($column in $columns)
    #if(!$column.superColumn)
    /** $column.columnComment */
    #if($column.list)
    #set($parentheseIndex=$column.columnComment.indexOf("（"))
    #if($parentheseIndex != -1)
    #set($comment=$column.columnComment.substring(0, $parentheseIndex))
    #else
    #set($comment=$column.columnComment)
    #end
    #if($parentheseIndex != -1)
 @Excel(name = "${comment}" , readConverterExp = "$column.readConverterExp()" )
    #elseif($column.javaType == 'Date')
 @Excel(name = "${comment}" , width = 30, dateFormat = "yyyy-MM-dd" )
    #else
 @Excel(name = "${comment}" )
    #end
    #end
    private $column.javaType $column.javaField;

    #end
    #end
}
