<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.project.app.user.mapper.AppUserRoleMapper">

    <resultMap  type="AppUserRole" id="AppUserRoleResult">
        <result property="userId"  column="user_id"/>
        <result property="roleId"  column="role_id"/>
    </resultMap>

    <sql id="selectAppUserRoleVo">
        select user_id, role_id from ums_user_role
    </sql>

    <select id="selectAppUserRoleList" parameterType="AppUserRole" resultMap="AppUserRoleResult">
        <include refid="selectAppUserRoleVo"/>
        <where>
        </where>
    </select>

    <select id="selectAppUserRoleById" parameterType="Long" resultMap="AppUserRoleResult">
        <include refid="selectAppUserRoleVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertAppUserRole" parameterType="AppUserRole">
        insert into ums_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="roleId != null ">role_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="roleId != null ">#{roleId},</if>
        </trim>
    </insert>

    <update id="updateAppUserRole" parameterType="AppUserRole">
        update ums_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null ">role_id = #{roleId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteAppUserRoleById" parameterType="Long">
        delete from ums_user_role where user_id = #{userId}
    </delete>

    <delete id="deleteAppUserRoleByIds" parameterType="String">
        delete from ums_user_role where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <insert id="batchUserRole">
        insert into ums_user_role(user_id, role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <delete id="deleteUserRoleInfos">
        delete from ums_user_role where role_id=#{roleId} and user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteAuthUser">
        delete from ums_user_role where role_id=#{roleId} and user_id=#{userId}
    </delete>

</mapper>