<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户信息')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-edit" th:object="${appUser}">
        <input name="userId" th:field="*{userId}" type="hidden">
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>登录账号：</label>
                    <div class="col-sm-8">
                        <input name="loginName" id="loginName" class="form-control" type="text"
                               placeholder="请输入登录账号" th:field="*{loginName}" required/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户角色：</label>
                    <div class="col-sm-8">
                        <select id="role" class="form-control select2-single">
                            <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"
                                    th:selected="${role.flag}" th:disabled="${role.status == '0'}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>手机号码：</label>
                    <div class="col-sm-8">
                        <input name="telephone" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11"
                               th:field="*{telephone}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <div class="col-sm-8">
                        <input name="email" class="form-control email" type="text" maxlength="50"
                               placeholder="请输入邮箱" th:field="*{email}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">u号：</label>
                    <div class="col-sm-8">
                        <input name="uAccount" class="form-control" type="text" minlength="6" th:field="*{uAccount}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">OpenId：</label>
                    <div class="col-sm-8">
                        <input name="openId" class="form-control" type="text" th:field="*{openId}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">信誉度：</label>
                    <div class="col-sm-8">
                        <input name="honor" placeholder="请输入用户名称" class="form-control"
                               type="text" maxlength="30" th:field="*{honor}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否认证：</label>
                    <div class="col-sm-8">
                        <select id="isVerify" class="form-control select2-single">
                            <option th:value="${appUser.isVerify}" th:text="${appUser.isVerify == '0' ? '未认证':'已认证'}"
                                    th:selected="${appUser.isVerify == '0' ? true:false}" th:disabled="false"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">健康度：</label>
                    <div class="col-sm-8">
                        <input name="health" class="form-control"
                               type="text" maxlength="4" th:field="*{health}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">等级：</label>
                    <div class="col-sm-8">
                        <input name="userLevel" readonly="true" class="form-control" type="text"
                               th:field="*{userLevel}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>用户名称：</label>
                    <div class="col-sm-8">
                        <input name="username" placeholder="请输入用户名称" class="form-control"
                               type="text" maxlength="30" th:field="*{username}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户状态：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" id="status" th:checked="${appUser.status == '1' ? true : false}">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">其他信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" maxlength="500" class="form-control" rows="3">[[*{remark}]]</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "admin/app/user";

    $("#form-user-edit").validate({
        onkeyup: false,
        rules: {
            email: {
                email: true,
                remote: {
                    url: prefix + "/checkEmailUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "userId": function () {
                            return $("#userId").val();
                        },
                        "email": function () {
                            return $.common.trim($("#email").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            telephone: {
                isPhone: true,
                remote: {
                    url: prefix + "/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "userId": function () {
                            return $("#userId").val();
                        },
                        "telephone": function () {
                            return $.common.trim($("#telephone").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            uAccount: {
                remote: {
                    url: prefix + "/checkUAccountUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "uAccount": function () {
                            return $("#uAccount").val();
                        },
                        "userId": function () {
                            return $("#userId").val();
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            loginName: {
                remote: {
                    url: prefix + "/checkLoginNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "loginName": function () {
                            return $("#loginName").val();
                        },
                        "userId": function () {
                            return $("#userId").val();
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            }


        },
        messages: {
            "email": {
                remote: "Email已经存在"
            },
            "telephone": {
                remote: "手机号码已经存在"
            },
            "loginName": {
                remote: "当前账号已经存在"
            },
            "uAccount": {
                remote: "当前u号已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-edit").serializeArray();
            var status = $("input[id='status']").is(':checked') === true ? 1 : 0;
            var roleId = $.form.selectSelects("role");
            data.push({"name": "status", "value": status});
            data.push({"name": "roleId", "value": roleId});
            $.operate.save(prefix + "/edit", data);
        }
    }
</script>
</body>
</html>